

@import "/src/styles.scss";

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $color-brand-light;
    transition: all .2s ease-in-out;
    &.scroll {
        background-color: rgba($color-brand-light, .7);
        backdrop-filter: blur(1.5rem);
        box-shadow: $navbar-shadow-light;
        .navbar-brand {
            height: 6.5rem;
        }
    }
    .navbar-brand {
        height: 12rem;
        transition: all .2s ease-in-out;
        padding: 0 !important;
        margin: 0 !important;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .navbar-toggler {
        position: relative;
        height: 2.5rem;
        width: 5rem;
        padding: .5rem;
        border: none;
        &:focus,
        &:focus-visible {
            box-shadow: none;
        }
        span {
            width: 5rem;
            height: .1rem;
            display: block;
            margin: .5rem 0;
            background-color: $txt-black;
            position: absolute;
            transition: transform .2s ease-in-out;
            &:first-of-type {
                top: .6rem;
                right: -.1rem;
                transform: rotate(25deg);
            }
            &:last-of-type {
                top: .7rem;
                right: -.1rem;
                transform: rotate(-25deg);
            }
        }
        &.collapsed span {
            &:first-of-type {
                top: 0;
                right: 0;
                transform: rotate(0);
            }
            &:last-of-type {
                top: 1rem;
                right: 0;
                transform: rotate(0);
            }
        }
    }
    .navbar-collapse {
        .navbar-nav {
            gap: .5rem;
            @include min-responsive($tablet) {
                gap: 1.2rem;
            }
            .nav-item {
                display: flex;
                box-sizing: border-box;
                justify-content: center;
                align-items: center;
                gap: .25rem;
                @include min-responsive($tablet) {
                    gap: .1rem;
                }
                &.active, &.active span {
                    text-shadow: $text-shadow-items-menu;
                }
                .nav-link {
                    padding-left: .25rem;
                }
            }
        }
    }
}