

@import "/src/styles.scss";

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--color-brand-light);
    transition: all .2s ease-in-out;
    &.scroll {
        background-color: rgba(#f6cc78, .7);
        backdrop-filter: blur(15px);
        box-shadow: 0px 10px 15px 0px rgba(#584929, .4);
        .navbar-brand {
            height: 65px;
        }
    }
    .navbar-brand {
        height: 120px;
        transition: all .2s ease-in-out;
        padding: 0 !important;
        margin: 0 !important;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .navbar-toggler {
        position: relative;
        height: 2.5rem;
        width: 5rem;
        padding: .5rem;
        border: none;
        &:focus,
        &:focus-visible {
            box-shadow: none;
        }
        span {
            width: 5rem;
            height: .1rem;
            display: block;
            margin: .5rem 0;
            background-color: black;
            position: absolute;
            transition: transform .2s ease-in-out;
            &:first-of-type {
                top: .6rem;
                right: -.1rem;
                transform: rotate(25deg);
            }
            &:last-of-type {
                top: .7rem;
                right: -.1rem;
                transform: rotate(-25deg);
            }
        }
        &.collapsed span {
            &:first-of-type {
                top: 0;
                right: 0;
                transform: rotate(0);
            }
            &:last-of-type {
                top: 1rem;
                right: 0;
                transform: rotate(0);
            }
        }
    }
    .navbar-collapse {
        .navbar-nav {
            gap: .5rem;
            @include min-responsive(var(--tablet)) {
                gap: 1.2rem;
            }
            .nav-item {
                display: flex;
                box-sizing: border-box;
                justify-content: center;
                align-items: center;
                gap: .25rem;
                @include min-responsive(var(--tablet)) {
                    gap: .1rem;
                }
                &.active {
                    text-shadow: 0 0 1px var(--txt-black);
                    span {
                        text-shadow: 0 0 1px var(--txt-black);
                    }
                }
                .nav-link {
                    padding-left: .25rem;
                }
            }
        }
    }
}