


<div class="wrap-privacity animate__animated animate__fadeIn">
    <div class="container">
        <header class="text-center text-decoration-underline">
            <h1>Política de Privacidad</h1>
        </header>
        <main>
            <section class="animate__animated animate__pulse">
                <h2>Introducción</h2>
                <p>En [Nombre de la Empresa], nos tomamos muy en serio la privacidad de nuestros usuarios. Esta política de
                    privacidad describe cómo recopilamos, usamos y protegemos su información personal.</p>
            </section>
            <section class="animate__animated animate__pulse">
                <h2>Información que recopilamos</h2>
                <ul>
                    <li>Información proporcionada directamente por el usuario, como nombre, correo electrónico y número de
                        teléfono.</li>
                    <li>Información recopilada automáticamente, como datos de navegación y dirección IP.</li>
                    <li>Información de terceros cuando usted interactúa con nuestros servicios.</li>
                </ul>
            </section>
            <section class="animate__animated animate__pulse">
                <h2>Cómo utilizamos su información</h2>
                <p>La información recopilada se utiliza para los siguientes fines:</p>
                <ul>
                    <li>Mejorar la experiencia del usuario en nuestro sitio web.</li>
                    <li>Procesar solicitudes y brindar soporte al cliente.</li>
                    <li>Envío de comunicaciones relacionadas con nuestros servicios.</li>
                </ul>
            </section>
            <section class="animate__animated animate__pulse">
                <h2>Compartir su información</h2>
                <p>No compartimos su información personal con terceros, excepto cuando sea necesario para cumplir con la ley,
                    proteger nuestros derechos o brindar los servicios solicitados.</p>
            </section>
            <section class="animate__animated animate__pulse">
                <h2>Protección de su información</h2>
                <p>Implementamos medidas de seguridad para proteger su información personal contra accesos no autorizados,
                    alteraciones, divulgaciones o destrucciones.</p>
            </section>
            <section class="animate__animated animate__pulse">
                <h2>Sus derechos</h2>
                <p>Usted tiene derecho a acceder, corregir o eliminar su información personal. Para ejercer estos derechos, por
                    favor contáctenos en <a href="mailto:contacto@empresa.com">contacto.empresa.com</a>.</p>
            </section>
            <section class="animate__animated animate__pulse">
                <h2>Actualizaciones a esta política</h2>
                <p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Los cambios serán
                    publicados en esta página con la fecha de actualización correspondiente.</p>
            </section>
        </main>
    </div>
</div>