

@mixin max-responsive($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
}

@mixin min-responsive($breakpoint) {
    @media screen and (min-width: $breakpoint) {
        @content;
    }
}

@mixin grid($colummns, $gap ) {
    display: grid;
    grid-template-columns: repeat($colummns, 1fr);
    gap: $gap;
}

@mixin gridMasonry($colummns, $width, $gap ) {
    columns: $colummns $width;
    column-gap: $gap;
}