

// Global styles
html {
    font-size: 62.5%;
    font-family: var(--text-p);
}

body {
    background: var(--color-brand);
    color: var(--color-brand-light);
}

// TODO: Add dark theme
// body.dark-theme {
//     background: $black-light-bg;
//     color: $grey-light-txt;
// }

h1, h2, h3 {
    font-family: var(--text-h);
    margin: 2rem 0;
}

h1 {
    font-size: var(--h1-mob);
    @include min-responsive(var(--tablet)) {
        font-size: var(--h1-tab);
    }
    @include min-responsive(var(--desktop-laptop)) {
        font-size: var(--h1-desk);
    }
}

h2 {
    font-size: var(--h2-mob);
    @include min-responsive(var(--tablet)) {
        font-size: var(--h2-tab);
    }
    @include min-responsive(var(--desktop-laptop)) {
        font-size: var(--h2-desk);
    }
}

h3 {
    font-size: var(--h3-mob);
    @include min-responsive(var(--tablet)) {
        font-size: var(--h3-tab);
    }
    @include min-responsive(var(--desktop-laptop)) {
        font-size: var(--h3-desk);
    }
}

p, a, span:not(.pi) {
    font-family: var(--txt-p);
    font-size: var(--txt-main);
}

button {
    border-radius: var(-border-radius-05);
    cursor: pointer;
}   

ul {
    padding: 0;
}

li {
    list-style: none;
}

.navbar a {
    font-size: var(--txt-menu);
}

.pi {
    font-size: var(--txt-main);
    color: var(--txt-black);
}