

// Global styles
html {
    font-size: 62.5%;
    font-family: $txt-p;
}

body {
    background: $color-brand;
    color: $color-brand-light;
}

// TODO: Add dark theme
// body.dark-theme {
//     background: $black-light-bg;
//     color: $grey-light-txt;
// }

h1, h2, h3 {
    font-family: $txt-h;
    margin: 2rem 0;
}

h1 {
    font-size: $h1-mob;
    @include min-responsive($tablet) {
        font-size: $h1-tab;
    }
    @include min-responsive($desktop-laptop) {
        font-size: $h1-desk;
    }
}

h2 {
    font-size: $h2-mob;
    @include min-responsive($tablet) {
        font-size: $h2-tab;
    }
    @include min-responsive($desktop-laptop) {
        font-size: $h2-desk;
    }
}

h3 {
    font-size: $h3-mob;
    @include min-responsive($tablet) {
        font-size: $h3-tab;
    }
    @include min-responsive($desktop-laptop) {
        font-size: $h3-desk;
    }
}

p, a, span:not(.pi) {
    font-family: $txt-p;
    font-size: $txt-main;
}

button {
    border-radius: $border-radius-05;
    cursor: pointer;
}   

ul {
    padding: 0;
}

li {
    list-style: none;
}

.navbar a {
    font-size: $txt-menu;
    transition: font-size .2s ease-in-out;
}

.navbar.scroll a {
    font-size: $txt-menu-scrolled;
}

.pi {
    font-size: $txt-main;
    color: $txt-black;
}