


:root {
    // Brand color
    --color-brand: #a0844a;
    --color-brand-light: #f6cc78;
    --color-brand-dark: #584929;

    // Main colors
    --bg-white: #f9f9f9;
    --txt-white: #fff;
    --bg-black: #1c1c1c;
    --txt-black: #000000;
}