



// Brand color
$color-brand: #a0844a;
$color-brand-light: #f6cc78;
$color-brand-dark: #584929;

// Main colors
$bg-white-dark: #f9f9f9;
$txt-white-dark: #f9f9f9;
$bg-white: #ffffff;
$txt-white: #ffffff;
$bg-black: #1c1c1c;
$txt-black: #000000;

// Shadows
$greyShadow: #d0d0d0;
$dialShadow: 0 0 2rem 0 rgba($greyShadow, .5);