


::ng-deep {
    // Dial
    .speeddial-tooltip {
        &.p-speeddial-direction-down-left {
            left: 0;
            bottom: 0;
        }
        button {
            border-radius: $border-radius-50;
            border: none;
            background: rgba($white-bg, .2);
            backdrop-filter: blur(1.5rem);
            width: 5rem;
            height: 5rem;
            z-index: 1002;
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
            transition: box-shadow .2s ease-in-out;
            &:hover, &:focus {
                box-shadow: $skill-shadow-light; 
            }
            .pi {
                color: $primary-dark-bg;
            }
            @include min-responsive($tablet-hor) {
                width: 5rem;
                height: 5rem;
                .pi {
                    &.pi-icon {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
        ul {
            li a {
                color: $black-bg;
                width: 5rem;
                height: 5rem;
                text-decoration: none;
                padding: .75rem;
                background: rgba($white-bg, .2);
                backdrop-filter: blur(1.5rem);
                span {
                    font-size: $icon-dial;
                }
            }
        } 
    }
}