


.wrap-dial {
    position: fixed;
    right: 6.9rem;
    bottom: calc(8rem + 17.25rem);
    &::ng-deep {
        .p-speeddial-opened {
            bottom: calc(7.5rem - 17.25rem);
        }
    }
}